.updated {
  height: 100vh;
  background-color: black;
  background-color: #e8f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkIcon {
  color: peru;
  font-size: 4rem;
}
.h1Updated, h1Posted {
  color: rgb(99, 93, 87);
  margin-left: 2rem;
}
.posted {
  height: 100vh;
  display: flex;
  background-color: #e8f5f8;
  justify-content: center;
  align-items: center;
}